@model ProductManagementSystem1.DTOs.EstoqueDTO

@{
    ViewData["Title"] = "Detalhes do Estoque";
}

<h1 class="my-4">Detalhes do Estoque</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalhes do Estoque</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Produto:</dt>
            <dd class="col-sm-9">@ViewData["ProdutoNome"]</dd>

            <dt class="col-sm-3">Fornecedor:</dt>
            <dd class="col-sm-9">@ViewData["FornecedorNome"]</dd>

            <dt class="col-sm-3">Quantidade:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Quantidade)</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-list"></i> Voltar à lista</a>
</div>
