@model ProductManagementSystem1.Models.Fornecedor

@{
    ViewData["Title"] = "Editar Fornecedor";
}

<h1>Editar Fornecedor</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome:</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone:</label>
                <input asp-for="Telefone" class="form-control" id="telefone" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a asp-action="Index" class="btn btn-secondary">Voltar para Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRXbL3Yo5FZdF3E9X5zVb1srBQHlsCpGf6fs6Zq6d" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#telefone').mask('(00) 00000-0000');
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
