@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 class="display-4 mt-5">Bem-vindo ao Sistema de Gerenciamento de Produtos!</h1>
            <p class="lead">Este sistema foi desenvolvido com ASP.NET Core MVC e Entity Framework Core.</p>
            <hr class="my-4">
            <p class="lead">Gerencie informações detalhadas sobre seus produtos e fornecedores de maneira eficiente.</p>
            <a class="btn btn-primary btn-lg" href="https://learn.microsoft.com/aspnet/core" role="button">Aprenda mais sobre ASP.NET Core</a>
        </div>
    </div>
</div>
